openapi: 3.0.3
info:
  title: TADB Energy Matrix API
  description: |
    The TADB (Tabla de Análisis de Datos de Boletines) Energy Matrix API provides endpoints for managing energy consumption data, generator types, and production analytics.
    
    This API allows you to:
    - Manage energy generator types (solar, wind, hydro, etc.)
    - Track energy production data
    - Analyze consumption patterns
    - Generate reports on energy efficiency
    
  version: 1.0.0
  contact:
    name: TADB API Support
    url: https://github.com/02loveslollipop/api_matriz_enegertica_tadb
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://tadb-api.delightfulocean-3722db5f.eastus2.azurecontainerapps.io
    description: Production server (Azure Container Apps)
  - url: http://localhost:8080
    description: Development server

paths:
  /health:
    get:
      summary: Health check endpoint
      description: Returns the health status of the API
      tags:
        - Health
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    example: "1.0.0"

  /api/types:
    get:
      summary: Get all energy generator types
      description: Retrieve a list of all available energy generator types
      tags:
        - Energy Types
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EnergyType'
                  message:
                    type: string
                    example: "Types retrieved successfully"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      summary: Create a new energy generator type
      description: Add a new energy generator type to the system
      tags:
        - Energy Types
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTypeRequest'
      responses:
        '201':
          description: Type created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/EnergyType'
                  message:
                    type: string
                    example: "Type created successfully"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/types/{id}:
    put:
      summary: Update an energy generator type
      description: Update an existing energy generator type by ID
      tags:
        - Energy Types
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The UUID of the energy type to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTypeRequest'
      responses:
        '200':
          description: Type updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/EnergyType'
                  message:
                    type: string
                    example: "Type updated successfully"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      summary: Delete an energy generator type
      description: Delete an existing energy generator type by ID
      tags:
        - Energy Types
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The UUID of the energy type to delete
      responses:
        '200':
          description: Type deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Type deleted successfully"
        '404':
          description: Type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/users/profile:
    get:
      summary: Get user profile
      description: Retrieve the current user's profile information
      tags:
        - Users
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/User'
                  message:
                    type: string
                    example: "Profile retrieved successfully"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    EnergyType:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the energy type
          example: "123e4567-e89b-12d3-a456-426614174000"
        nombre:
          type: string
          description: Name of the energy type
          example: "Solar Photovoltaic"
        descripcion:
          type: string
          description: Description of the energy type
          example: "Solar panels that convert sunlight directly into electricity"
        unidad_medida:
          type: string
          description: Unit of measurement for this energy type
          example: "MWh"
        factor_conversion:
          type: number
          format: float
          description: Conversion factor for standardizing measurements
          example: 1.0
        created_at:
          type: string
          format: date-time
          description: Timestamp when the type was created
          example: "2025-09-10T12:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the type was last updated
          example: "2025-09-10T12:00:00Z"

    CreateTypeRequest:
      type: object
      required:
        - nombre
        - descripcion
        - unidad_medida
        - factor_conversion
      properties:
        nombre:
          type: string
          description: Name of the energy type
          example: "Wind Turbine"
          minLength: 1
          maxLength: 100
        descripcion:
          type: string
          description: Description of the energy type
          example: "Wind-powered electricity generation"
          maxLength: 500
        unidad_medida:
          type: string
          description: Unit of measurement
          example: "MWh"
          maxLength: 20
        factor_conversion:
          type: number
          format: float
          description: Conversion factor for standardizing measurements
          example: 1.2
          minimum: 0
          exclusiveMinimum: true

    UpdateTypeRequest:
      type: object
      properties:
        nombre:
          type: string
          description: Name of the energy type
          example: "Wind Turbine (Updated)"
          minLength: 1
          maxLength: 100
        descripcion:
          type: string
          description: Description of the energy type
          example: "Advanced wind-powered electricity generation"
          maxLength: 500
        unidad_medida:
          type: string
          description: Unit of measurement
          example: "MWh"
          maxLength: 20
        factor_conversion:
          type: number
          format: float
          description: Conversion factor for standardizing measurements
          example: 1.3
          minimum: 0
          exclusiveMinimum: true

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the user
          example: "123e4567-e89b-12d3-a456-426614174000"
        nombre:
          type: string
          description: User's full name
          example: "John Doe"
        email:
          type: string
          format: email
          description: User's email address
          example: "john.doe@example.com"
        rol:
          type: string
          description: User's role in the system
          example: "admin"
        created_at:
          type: string
          format: date-time
          description: Timestamp when the user was created
          example: "2025-09-10T12:00:00Z"

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          description: Error message describing what went wrong
          example: "Invalid input parameters"
        code:
          type: string
          description: Error code for programmatic handling
          example: "VALIDATION_ERROR"
        details:
          type: object
          description: Additional error details
          additionalProperties: true

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for API authentication

security:
  - BearerAuth: []

tags:
  - name: Health
    description: API health monitoring endpoints
  - name: Energy Types
    description: Management of energy generator types
  - name: Users
    description: User management and profile operations
